@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
$main-tible: 'Poppins';
$regular-tible:400;
$big-tible:600;

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
$main-font: 'Source Sans Pro';
$font-regular:400;
$font-bold:600;