body{
    background-color: #222;
    color: $text-color;
    min-height: 100vh;
    font-family: $main-font, "sans-serif";
    @include laptop{
        display: grid;
        grid-template-columns: 14% 85%;
        grid-template-rows: 60px 1fr;
        overflow: hidden;
    }

}
