extends ../templates/template
block menu
    - pageActive='about'
    include ../includes/main-menu
block title
    h1.title About
    .about
        .about__img.show
            img(src="assets/img/about.jpg", alt="about imagen 1")
        .about__text.show
            h2 Title 1
            p Lorem ipsum dolor sit amet consectetur adipiscing elit curae ornare condimentum quis, convallis rhoncus augue erat proin mi ante nisi posuere magna, ad cubilia viverra accumsan eu mollis imperdiet quisque fames eros. Convallis interdum odio pharetra sollicitudin bibendum cubilia cum mi senectus, aenean egestas vel nascetur fusce cras blandit dapibus, augue hac curabitur scelerisque rhoncus sociis quisque ligula. Dis gravida egestas aenean imperdiet condimentum dapibus nascetur feugiat non habitasse vel, sem tincidunt scelerisque fringilla tellus sollicitudin orci at facilisis nulla, dictumst nec curabitur risus leo hac nullam porta netus auctor.
        .about__img
            img(src="assets/img/about2.jpg", alt="about imagen 2")
        .about__text
            h2 Title 2
            p Lorem ipsum dolor sit amet consectetur adipiscing elit viverra accumsan eu mollis imperdiet quisque fames eros. Convallis interdum odio pharetra sollicitudin bibendum cubilia cum mi senectus, aenean egestas vel nascetur fusce cras blandit dapibus, augue hac curabitur scelerisque rhoncus sociis quisque ligula. Dis gravida egestas aenean imperdiet condimentum dapibus nascetur feugiat non habitasse vel, sem tincidunt scelerisque fringilla tellus sollicitudin orci at facilisis nulla, dictumst nec curabitur risus leo hac nullam porta netus auctor.
        .about__img
            img(src="assets/img/gallery/2.jpg", alt="about imagen 3")
        .about__text
            h2 Title 3
            p Lorem ipsum dolor sit amet consectetur adipiscing elit viverra accumsan eu mollis imperdiet quisque fames eros. Convallis interdum odio pharetra sollicitudin bibendum cubilia cum mi senectus, aenean egestas vel nascetur fusce cras blandit dapibus, augue hac curabitur scelerisque rhoncus sociis quisque ligula. Dis gravida egestas aenean imperdiet condimentum dapibus nascetur feugiat non habitasse vel, sem tincidunt scelerisque fringilla tellus sollicitudin orci at facilisis nulla, dictumst nec curabitur risus leo hac nullam porta netus auctor.
   
   
    .controls
        i.fas.fa-chevron-circle-left#prev        
        i.fas.fa-chevron-circle-right#next


